body { 
    overflow-x: hidden;
}

.header {
    height: 100vh;
    width: 100%;
}

#titrePortfolio {
    color: white;
    
}

#test, #carouselExampleCaptions{
    box-shadow: 0 0 8px rgba(0,0,0, 0.7);
}



#test2 {
    background-color: white;
    border: 2px solid white;
    background-image: -webkit-linear-gradient(left, #ffffff 50%, rgb(13,110,253) 20%);
    background-image: linear-gradient(to right, #ffffff 50%, rgb(13,110,253) 20%);
    background-position: 0;
    background-size: 200%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }

#test2:hover {
    -webkit-text-fill-color: white;
    background-position: -100%;
}

#icons{
    display: inline-flex;
    margin: auto;
    color: white;
}

#a{
    transition: all 0.2s ease-in-out;
    padding: 0.2rem;
    color: white !important;
    text-decoration: none;
}

#a:hover{
    color: white;
    text-shadow: 0 0 30px white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
    filter: invert(100%);
    margin: auto;
}
