body { 
    overflow-x: hidden;
}

.header {
    height: 100vh;
    width: 100%;
}

#titrePortfolio {
    color: white;
    
}

#test:hover {
    box-shadow: 0 0 25px rgba(33,33,33,.2);
}

#test2 {
    background-color: white;
    border: 2px solid white;
    background-image: -webkit-linear-gradient(left, #ffffff 50%, rgb(13,110,253) 20%);
    background-image: linear-gradient(to right, #ffffff 50%, rgb(13,110,253) 20%);
    background-position: 0;
    background-size: 200%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }

#test2:hover {
    -webkit-text-fill-color: white;
    background-position: -100%;
}

#titre:before, #titre:after {
    content: "";
    background-color:black;
    height: 2px;
    width: 15px;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
}

